#map {
  border-radius: 5px;
  height: 380px;
  width: 100%;
}

/* footer */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer--section {
  margin: auto;
  width: 100%;
  margin-bottom: 0px;
}

