:root {
  --color-theme: #111;
  --color-gold: var(--bs-highlight-bg);
  --bg-theme: #111;
  --color-black: #111;
  --bg-theme-dark: #337f6f;
  --bg-alternate: #f8f8f8;
  --color-border: #eee;
  --radius: 4px;
  --btn-height: 48px;
  --btn-height-sm: 38px;
  --navbar-btn-height: 60px;
  --input-border-color: #111;
  --input-border-color-alt: #111;
  --input-radius: 5px;
  --input-padding: 0px 15px;
  --select-padding: 15px;
  --input-font: 14px;
  --input-height: 52px;
  --result-bg: #eee;
  --result-bg-odd: #f8f8f8;
  --edit-color: #333;
  --delete-color: var(--bs-danger);
}

body, html {
  background-color: transparent;
  overflow-x: hidden;
}

@media (min-width: 1px) and (max-width: 991px) {
  body {
    /*display: none;*/
  }
}

* {
  transition: 0.2s all ease-in-out;
  font-family: 'Poppins';
  letter-spacing: 0.3px;
}

button, a, input, textarea, select, svg, img, i, span {
  outline: none !important;
}

button, a, input, select, textarea, checkbox, radio {
  box-shadow: none !important;
}

/* text stroke */

.stroke--1 {
  -webkit-text-stroke: 1px white;
}

.stroke--2 {
  -webkit-text-stroke: 2px white;
}

.stroke--gold-1 {
  -webkit-text-stroke: 1px var(--bs-border-color);
}

/* color */

.text--gold {
  color: var(--color-gold);
}

.text--green {
  color: var(--bs-success);
}

.text--transparent {
  color: transparent;
}

.fill--green {
  color: var(--bg-theme-dark);
}

.fill--gold {
  color: var(--bs-warning);
}

/* z-index */

.z--1 {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* scale */

.scale--1:hover svg, .scale--1:focus svg {
  transform: scale(1.1);
}

.scale--2:hover svg, .scale--2:focus svg {
  transform: scale(1.2);
}

.scale--3:hover svg, .scale--3:focus svg {
  transform: scale(1.3);
}

.scale--4:hover svg, .scale--4:focus svg {
  transform: scale(1.4);
}

.scalemix--4:hover svg, .scalemix--4:focus svg {
  transform: scale(1.4) rotate(360deg);
}

.scaleimg--2:hover img, .scaleimg--2:focus img {
  transform: scale(1.2);
}

.scaleimg--3:hover img, .scaleimg--3:focus img {
  transform: scale(1.3);
}

/* font size */

.fs-09 {
  font-size: 09px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

/* overlay */

.overlay--blur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  /*background-color: rgba(17,17,17,0.5);*/
  background-color: rgba(0,0,0,0.15);
}

/* button */

.btn--regular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  min-width: 160px;
}

/* background */

.bg--contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg--cover {
  background-size: cover;
  background-position: center;
}

/* spacing */

.section--spacing {
  padding-top: 90px;
  padding-bottom: 60px;
}

/* font famil */

.heading-font {
  font-family: 'Pacifico';
}

/* truncate */

.truncate-3l {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

/* first section */

@media (min-width: 1px) {
  .first--section {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .first--section {
    margin-top: 65px;
  }
}

@media (min-width: 1200px) {
  .first--section {
    margin-top: 40px;
  }
}

