.hero--section {
  height: 92vh;
  position: relative;
}

@media (min-width: 1px) and (max-width: 575px) {
  .hero--section {
    height: 45vh;
    position: relative;
  }
}

.hero--video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* slider */

.hero--slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.hero--slider .carousel-item {
  width: 100%;
  height: 100%;
}

.hero--slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay */

.hero--overlay.alternative {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.46);
}

.hero--overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(25deg, rgba(44,57,70,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.32));
}

/* search */

.hero--search {
  color: white;
  padding: 35px 10px;
}

/* hr */

.hero--hr {
  border-color: var(--bs-highlight-bg);
  opacity: 1;
  border-radius: 2px;
  border-width: 2px;
  padding: 0px;
  margin: 0px;
  width: 0%;
  animation: hero--hr 15s forwards ease-in-out 1 normal;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.key--icon {
  transform: rotate(320deg);
  font-size: 25px;
}

.dream--button {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

