/* featured */

.hr--colored {
  display: inline-flex;
  width: 10%;
  border-width: 3px;
  opacity: 1;
}

.feature--card {
  background-color: #f8f8f8;
  border-radius: var(--radius);
  margin-bottom: 70px;
  position: relative;
}

.feature--card-content {
  padding: 30px 12px 10px 12px;
  border-radius: 0px 0px var(--radius) var(--radius);
}

.feature--card:hover .feature--card-content, .feature--card:focus .feature--card-content {
  background-color: #242424;
  color: white;
}

.feature--card img {
  width: 100%;
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--radius) var(--radius) 0px 0px;
}

.feature--card .btn {
  border: none;
  border-bottom: 2px solid var(--color-theme);
  border-radius: 1px;
}

.feature--card:hover .btn, .feature--card:focus .btn {
  border-bottom: 2px solid var(--bs-warning);
  color: white;
}

.feature--card:hover span.text--green, .feature--card:focus span.text--green {
  color: var(--bs-warning);
}

.feature--price {
  font-weight: 700;
  background-color: #242424;
  color: white;
  padding: 2px 6px;
  border-radius: var(--radius);
  font-size: 14px;
}

/* ------------------------------------------------- */

/* windows */

.windows--div:hover, .windows--div:focus {
  background-color: #111 !important;
}

.windows--div.alternative {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(17,17,17,0.25);
  display: flex;
  align-items: start;
}

.windows--div {
  height: 300px;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(17,17,17,0.25);
  display: flex;
  align-items: center;
}

/* ----------------------------------------------- */

/* reviews */

.review--wrap {
  display: block;
  padding: 25px 25px;
  background-color: var(--bs-gray-800);
  border-radius: 10px;
  color: white;
  background: rgb(25,135,84);
  background: linear-gradient(150deg, rgba(25,135,84,1) 14%, rgba(0,0,0,1) 100%);
}

.review--wrap img {
  width: 120px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border: 4px solid var(--bs-warning);
}

.btn--order {
  font-size: 14px;
  padding: 8px 0px;
  font-weight: 500;
  position: absolute;
  top: 0px;
}

